# =========================================================================
# Configuration de la Stack FastIA - Variables d'environnement de Production
# =========================================================================

# --- BASE DE DONNÉES POSTGRESQL ---
DB_HOST=db
DB_PORT=5432
DB_USER=postgres_admin_prod
DB_PASS=ChAnGeMe_ThIs_Is_SeCrEt_2026!
DB_NAME=fastia_prod

# --- INFRASTRUCTURE MLFLOW ---
MLFLOW_PORT=5001
MLFLOW_TRACKING_URI=http://mlflow:5001

# --- API FASTFASTIA ---
API_PORT=8000
ENVIRONMENT=production
LOG_LEVEL=INFO